*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 


@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: auto;    
    }
}
body{

    border-style: outset;
margin-left: 0px;
margin-top: 0px;





}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }









.heading{

    width:40%;
	color:rgb(15, 13, 13);
	background-image: linear-gradient(white);
	padding-left: 300px;

    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 1.6rem;
    animation:aagepiche 6s linear infinite;
animation-direction:alternate;
}
@keyframes aagepiche{
	from{ padding-left:80px;}
to{padding-right:80px;}
}

.rotatio-item{
margin-top: 400px;
margin-left: 500px;


}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}





